

:root {
  --main-50:  #FFF6E7;
  --main-100: #FFE2BC;
  --main-200: #FFD08E;
  --main-300: #FFB85B;
  --main-400: #FFA326;
  --main-500: #FE9300;
  --main-600: #FE8C07;
  --main-700: #DB7104;
  --main-800: #A95004;
  --main-900: #733302;
}


.bg-main-600{
    background-color: #FE8C07 !important;
}
.bg-brand{
    background-color: #FE8C07 !important;
}